.footer-audit {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}